
body {
    font-family: arial;
}

.card {
    width: 25%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px;
    margin: 4%;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    /* Move card 10px upwards */
}

.image img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;



}

.title {

    text-align: center;
    padding: 10px;

}

h1 {
    font-size: 20px;
}

.des {
    padding: 3px;
    text-align: center;

    padding-top: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

button {
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #fad648;
    border-radius: 50px;
    padding: 10px;
}

button:hover {
    background-color: #fad648;
    color: black;
    transition: .5s;
    cursor: pointer;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .card {
        width: 45%; /* Adjust width for smaller screens */
        margin: 2%; /* Adjust margin for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: 90%; /* Adjust width for even smaller screens */
        margin: 2%; /* Adjust margin for even smaller screens */
    }
}